body{
    margin: 1em 5em;
    line-height: 0.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.photo{
    margin-top: 10%;
    margin-left: -5%;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.container{
    display: flex;
    margin-bottom: -2.5%;
}

h3{
    color: #9B9B9B;
    font-weight: 500;
    font-size: 1em;
}

h2{
    font-weight: 900;
    font-size: 1.2em;
}

.logo{
    width: 80px;
    margin-top: 1%;
}

.align{
    margin: 3% 0.5%;
}

p{
    font-size: 1.1em;
    font-weight: 300;
}

.align2{
    margin: 3.5% 0.5%;
}

.email{
    padding-bottom: 0.3em;
}

@media (max-width: 600px){
    body{
        margin: 1em 5em;
        line-height: 0.7em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.7em;
    }
    .photo{
        margin-top: 10%;
        margin-left: -5%;
        border-radius: 100%;
        width: 70px;
        height: 70px;
    }
    .logo{
        width: 50px;
        margin-top: 1%;
    }
    .align2{
        margin: 4.5% 0.5%;
    }
    .email{
        padding-bottom: 0.3em;
    }
}